.about-section {
  width: 100%;
  padding: 100px 50px;
  background-color: #CDEA68; // Ochi Green Color
  color: #000;
  font-family: 'Oswald', sans-serif;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .heading {
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 50px;
    width: 90%;
  }

  .border-line {
    width: 100%;
    height: 1px;
    background-color: #a1b562;
    margin-bottom: 40px;
  }

  .details {
    display: flex;
    gap: 50px;

    .left-col {
      width: 50%;

      h3 {
        font-size: 3vw;
        margin-bottom: 20px;
        font-weight: 400;
      }

      .read-more {
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 18px 30px;
        background-color: #000;
        color: #fff;
        border-radius: 50px;
        border: none;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        
        .circle {
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }

    .right-col {
      width: 50%;
      height: 70vh;
      border-radius: 20px;
      overflow: hidden;
      background-color: #b0c859;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // Mobile Response
  @media (max-width: 768px) {
    .details {
      flex-direction: column;
      
      .left-col, .right-col {
        width: 100%;
      }
    }
  }
}