.cards-section {
  width: 100%;
  height: 100vh;
  background-color: #18181b;
  display: flex;
  align-items: center;
  padding: 0 50px;
  gap: 20px;

  .card-container {
    height: 50vh;
    
    &.full-width { width: 50%; }
    &.half-width { 
        width: 50%; 
        display: flex; 
        gap: 20px;
    }

    .card {
        width: 100%;
        height: 100%;
        background-color: #004d43;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img { width: 150px; }
        
        button {
            position: absolute;
            bottom: 30px;
            left: 30px;
            padding: 10px 20px;
            border: 1px solid #cdea68;
            background: transparent;
            color: #cdea68;
            border-radius: 50px;
            font-size: 12px;
            cursor: pointer;
        }

        &.dark {
            background-color: #212121;
            button {
                border-color: #fff;
                color: #fff;
            }
        }
    }
  }
  
  @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
      .card-container { width: 100% !important; flex-direction: column; }
  }
}