.eyes-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f6f6f6; // Fallback color
  
  // Background Image (Sarthak wala exact image)
  background-image: url("https://ochi.design/wp-content/uploads/2022/05/Top-Viewbbcbv-1-1440x921.jpg");
  background-size: cover;
  background-position: center;
  
  display: flex;
  align-items: center;
  justify-content: center;

  .eyes-container {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .eye {
      width: 15vw;
      height: 15vw;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .pupil-bg {
        width: 9vw;
        height: 9vw;
        background-color: #212121; // Black circle
        border-radius: 50%;
        position: relative;
        
        // Yeh Line rotate karegi
        .line {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); // Center pivot
          width: 100%;
          height: 20px;
          // border: 1px solid red; // Debugging ke liye
          
          .pupil {
            width: 1.5vw;
            height: 1.5vw;
            background-color: #fff;
            border-radius: 50%;
          }
        }
      }
    }
  }
}