.landing-page {
  width: 100%; height: 100vh; background-color: #18181b; padding-top: 150px; color: white; font-family: 'Oswald', sans-serif;
  .text-structure {
    padding: 0 40px; margin-bottom: 100px;
    .masker {
      overflow: hidden;
      .mask h1 { font-size: 7.5vw; text-transform: uppercase; line-height: 0.85; font-weight: 700; margin: 0; letter-spacing: -2px; }
    }
  }
  .border-top { border-top: 1px solid #3f3f46; margin-top: 50px; }
  .sub-text {
    display: flex; justify-content: space-between; align-items: center; padding: 20px 40px; font-weight: 300; text-transform: uppercase; font-size: 16px;
    .start-btn { padding: 10px 20px; border: 1px solid white; border-radius: 50px; cursor: pointer; transition: all 0.3s; &:hover { background-color: white; color: black; } }
  }
}